name: Teraflop CI

on: push
#   schedule:
#   - cron: '0 0 * * SUN'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-latest, macos-latest] # TODO: Integrate CI for windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use .NET 8
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '8.0.x'
    - name: Build Solution
      run: dotnet build
    - name: Test
      if: success()
      run: dotnet test
    # TODO: Run tests for coverage
    # - name: Publish Coverage
    #   uses: codecov/codecov-action@v1
    #   if: success()
    #   with:
    #     token: ${{ secrets.CODECOV_TOKEN }}
